{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Ingresos de Inventario{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/inventory-entry.css' %}"/>
{% endblock %}
{% block content %} 
<div class="inventory-entry-content">
    <div class="entry-header">
        <h2>Ingresos de Inventario</h2>
        <button class="btn-new-entry">
            <i class="ph ph-plus"></i> Registrar Nuevo Ingreso
        </button>
    </div>

    <div class="resume-cards">
        <div>
            <span>Total de ingresos Hoy</span>
            <h4>{{ total_inventarios }}</h4>
        </div>
        <div>
            <span>Producto más ingresado</span>
            <h4>{{ producto_top.nombre }}</h4>
        </div>
    </div>

    <div class="table-card">
        <table id="productosTable" class="display">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Producto</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                {% for inventory in inventarios %}
                    <tr>
                        <td>{{ inventory.fechaRegistro }}</td>
                        <td>{{ inventory.producto.nombre }}</td>
                        <td>{{ inventory.usuario.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="{% static 'js/inventory-entry.js' %}"></script>
{% endblock %}