{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Salidas de Inventario{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/inventory-outs.css' %}"/>
{% endblock %}
{% block content %} 
<div class="inventory-entry-content">
    <div class="entry-header">
        <h2>Salidas de Inventario</h2>
        <button class="btn-new-entry">
            <i class="ph ph-plus"></i> Registrar Nueva Salida
        </button>
    </div>

    <div class="resume-cards">
        <div>
            <span>Total de salidas</span>
            <h4>{{ total_inventarios }}</h4>
        </div>
        <div>
            <span>Producto estrella</span>
            <h4>{{ producto_top.nombre }}</h4>
        </div>
    </div>

    <div class="table-card">
        <table id="productosTable" class="display">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Producto</th>
                    <th>Motivo</th>
                </tr>
            </thead>
            <tbody>
                {% for inventory in inventarios %}
                    <tr>
                        <td>{{ inventory.fechaRegistro }}</td>
                        <td>{{ inventory.producto.nombre }}</td>
                        <td>{{ inventory.motivo.descripcion }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para Registrar Nueva Salida -->
<div id="outsModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Registrar Nueva Salida</h3>
            <button class="modal-close" id="closeOutsModalBtn">
                <i class="ph ph-x"></i>
            </button>
        </div>
        
        <div class="modal-body">
            <form id="outsForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="productSelectOuts">Producto</label>
                    <select id="productSelectOuts" name="producto" required>
                        <option value="">-- Seleccionar Producto --</option>
                        {% for inventario in inventarios_entrada %}
                            <option value="{{ inventario.producto__id }}">{{ inventario.producto__nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="motivoSelectOuts">Motivo</label>
                    <select id="motivoSelectOuts" name="motivo" required>
                        <option value="">-- Selecciona un Motivo --</option>
                        {% for motivo in motivos %}
                            <option value="{{ motivo.id }}">{{ motivo.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
        
        <div class="modal-footer">
            <button class="btn-cancel" id="cancelOutsBtn">
                <i class="ph ph-x"></i> Cerrar
            </button>
            <button class="btn-save" id="saveOutsBtn">
                <i class="ph ph-check"></i> Guardar
            </button>
        </div>
    </div>
</div>

<script src="{% static 'js/inventory-outs.js' %}"></script>
{% endblock %}